// 基础通用*
.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}
.mt {
  margin-top: 8px;
}
.mt8 {
  margin-top: 8px;
}
.mr8 {
  margin-right: 8px;
}
.ml8 {
  margin-left: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.mtb10 {
  margin: 10px 0;
}
// 外边距16px
.m16 {
  margin: 16px;
}

.mt16 {
  margin-top: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.ml16 {
  margin-left: 16px;
}

// 外边距20px
.m20 {
  margin: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

// 外边距24
.m24 {
  margin: 24px;
}
.ml24 {
  margin-left: 24px;
}
.mr24 {
  margin-right: 24px;
}
.mt24{
  margin-top: 24px;
}
.mb24 {
  margin-bottom: 24px;
}
.pl8 {
  padding-left: 8px;
}
.pl24 {
  padding-left: 24px;
}
// 单行文本溢出 省略号
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline-block {
  display: inline-block;
}
// 用于
.m-top {
  background: url("../img/logo.png") no-repeat;
}

.v-bg {
  background: url("../img/play.png") no-repeat;
}

.p-bg {
  background: url("../img/play-btn.png");
}
.cover-bg {
  background: url("../img/cover-disc.png") no-repeat;
}
.icon-bg {
  background: url("../img/icon.png") no-repeat;
}
.icon2-bg {
  background: url("../img/icon2.png") no-repeat;
}
.download-bg {
  background: url("../img/download.png") no-repeat;
  li a:hover {
    background: url("../img/download.png") no-repeat 0 9999px;
  }
}

.playbar-bg {
  background: url("../img/playbar.png") no-repeat 0 9999px; // 第三个参数0 背景左右偏移 正数向右偏移 负数向左偏移 第四个参数正数向下偏移 负数向上偏移
}


