@import './mixin.scss';
@import './base.scss';

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
  padding: 0;
  margin: 0;
}
body, textarea, select, input, button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
ul {
  display: block;
  list-style:none;
  margin: 0;
  padding: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.pointer {
  cursor: pointer;
}

.pr {
  position: relative;
} 

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.link-span {
  color: #105cdd;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}