.mr16 {
  margin-right: 16px;
}

// 单行文本溢出 省略号
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 用于
.m-top {
  background: url("../img/logo.png") no-repeat;
}

.v-bg {
  background: url("../img/play.png") no-repeat;
}

.p-bg {
  background: url("../img/play-btn.png");
}